<div class="bg-dark text-center mt-4">
  <p class="text-white py-2"><i class="fas fa-shopping-cart mr-2"></i> Ձեր զամբյուղը</p>
</div>
<table class="table table-hover border-light border">
  <tbody>
  <tr>
    <td class="text-center">10</td>
    <td>Խոզի չալաղաջ</td>
    <td>27,900 դր</td>
  </tr>
  <tr>
    <td class="text-center">1</td>
    <td>Տորթ «Sweet»</td>
    <td>2,790 դր</td>
  </tr>
  <tr>
    <td class="text-center">2</td>
    <td>Թխվածք «Sweet» Մեղրային</td>
    <td>440 դր</td>
  </tr>
  <tr>
    <td class="text-center">2</td>
    <td>Թխվածք «Sweet» Մեղրային</td>
    <td>440 դր</td>
  </tr>
  </tbody>
</table>

<div class="container bg-light py-2">
  <div class="row">
    <div class="col-8">
      <p class="font-weight-bold">Գումարը։ 31,130 դր</p>
    </div>
    <div class="col-4">
      <button class="btn btn-success">Պատվիրել</button>
    </div>
  </div>
</div>
