<div class="container-fluid my-4">
  <div class="row">
    <a href="" class="col-md-3 py-2 btn btn-secondary rounded-0 mr-2 active"><i class="fas fa-hotdog mr-2"></i>Տաք ուտեստ</a>
    <a href="" class="col-md-3 py-2 btn btn-red rounded-0 mr-2"><i class="fas fa-beer mr-2"></i>Խմիչքներ</a>
    <a href="" class="col-md-3 py-2 btn btn-primary rounded-0 mr-2"><i class="fab fa-shopify mr-2"></i>Խանութ</a>
    <a href="" class="col-md-2 py-2 btn btn-secondary rounded-0 mr-2"><i class="fab fa-buromobelexperte mr-2"></i>Այլ</a>
  </div>
</div>
