<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand col-md-1" href="#">
    Amar.am
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="col-md-3">
    <input class="form-control py-2 col-md-11 float-left" type="search" placeholder="Փնտրեք ինչ ուզում եք ..."
           id="example-search-input">
    <span class="input-group-append col-md-1 float-left">
        <button type="button" class="btn btn-outline-light px-4 cst-brd-gray"><em class="fa fa-search"></em></button>
    </span>
  </div>

  <div class="col-md-7 text-right ml-auto">
    <div class="row">
      <h5 class="text-light text-center col-md-6 float-left">Ա Ռ Ա Ք Ու Մ <br> արագ և հարմար</h5>
      <h5 class="text-light col-md-6 float-left">+ 374 33 10 10 10 <br> + 374 33 10 10 10</h5>
    </div>
  </div>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link " href="index.html">ENG <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link " href="history.html">ՀԱՅ <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
