<div class="container-fluid">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-7">
      <app-navigation></app-navigation>
      <div class="row">
        <div class="col-3">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" href="#">Խորոված</a>
            <a class="list-group-item list-group-item-action" href="#">Քաբաբ</a>
            <a class="list-group-item list-group-item-action" href="#">Գրիլ</a>
            <a class="list-group-item list-group-item-action" href="#">Շաուրմա</a>
            <a class="list-group-item list-group-item-action" href="#">Լահմաջո</a>
            <a class="list-group-item list-group-item-action" href="#">Լանչեր</a>
            <a class="list-group-item list-group-item-action" href="#">Պիցցա</a>
            <a class="list-group-item list-group-item-action" href="#">Կարկանդակներ</a>
            <a class="list-group-item list-group-item-action" href="#">Խաչապուրի</a>
            <a class="list-group-item list-group-item-action" href="#">Աղցաններ</a>
          </div>
        </div>
        <div class="col-9 item-box">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active">
              <div class="card-deck">
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230307Tdpirb.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Խոզի չալաղաջ</h5>
                        <h5 class="card-text text-center text-danger">2 790 դր</h5></div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230307Tdpirb.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Տորթ «Sweet»</h5>
                        <h5 class="card-text text-center text-danger">2 790 դր</h5></div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230301T62kyh.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Թխվածք «Sweet» Մեղրային</h5>
                        <h5 class="card-text text-center text-danger">220 դր</h5>
                      </div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230307Tdpirb.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Տորթ «Sweet»</h5>
                        <h5 class="card-text text-center text-danger">2 790 դր</h5></div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230307Tdpirb.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Տորթ «Sweet»</h5>
                        <h5 class="card-text text-center text-danger">2 790 դր</h5></div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230301T62kyh.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Թխվածք «Sweet» Մեղրային</h5>
                        <h5 class="card-text text-center text-danger">220 դր</h5>
                      </div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230307Tdpirb.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Տորթ «Sweet»</h5>
                        <h5 class="card-text text-center text-danger">2 790 դր</h5></div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230307Tdpirb.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Տորթ «Sweet»</h5>
                        <h5 class="card-text text-center text-danger">2 790 դր</h5></div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230301T62kyh.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Թխվածք «Sweet» Մեղրային</h5>
                        <h5 class="card-text text-center text-danger">220 դր</h5>
                      </div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230307Tdpirb.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Տորթ «Sweet»</h5>
                        <h5 class="card-text text-center text-danger">2 790 դր</h5></div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 float-left mb-4 px-0">
                  <div class="card">
                    <img src="https://karas.am/images/s=420x312&q=35/2003230307Tdpirb.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <div style="min-height: 120px;">
                        <h5 class="card-title text-center">Տորթ «Sweet»</h5>
                        <h5 class="card-text text-center text-danger">2 790 դր</h5></div>
                      <div class="row">
                        <div class="col text-center">
                          <div class="btn-group my-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light border border-secondary">
                              -
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              1
                            </button>
                            <button type="button" class="btn btn-light border border-secondary">
                              +
                            </button>
                          </div>
                          <button class="btn btn-success align-center">Ավելացնել</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-basket></app-basket>
    </div>
    <div class="col-1">

    </div>
  </div>
</div>
